header .topo {
    background-color: rgb(2, 67, 125);
    width: 100%;
    padding: 10px 0;
    color: azure;
    font-weight: bold;
    text-align: center;
}

img.logo {
    display: block;
    margin: 0 auto;
}